<a href="https://colab.research.google.com/github/0Kyumy0/FirstCodes_DataScience/blob/Panda/ejercicioAtletas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
filename = '/content/drive/MyDrive/DataScience/BasesDeDatos/athleteEventsNoPersonal.csv'
df = pd.read_csv(filename)

In [3]:
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

# **Exploración del archivo**

## a. ¿Cuántas filas y columnas hay?

In [4]:
df.shape

(40616, 12)

## c. ¿A qué columnas le faltan datos? (¿Por qué creen que hay muchos valores nulos en la columna Medals (medallas)?

In [5]:
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

Le faltan datos a 3 columnas en total: Age, Height y Medal.
En la columna de Medal le faltan más datos porque no todos los atletas han ganado alguno de los 3 tipos de medallas (Oro, plata y bronce).

## d. ¿Cuántas entradas corresponden a la ciudad de Londres?

In [6]:
(df['City'] == 'London').sum()

3370

In [7]:
df_city_London = df.loc[df['City'] == 'London']

In [8]:
df_city_London

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
36,54,NaN,NaN,Iran,IRI,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Heavyweight,NaN
42,67,26.0,179.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
66,155,34.0,185.0,Egypt,EGY,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Heavyweight, Greco-Roman",NaN
69,159,19.0,167.0,Egypt,EGY,2012 Summer,2012,Summer,London,Synchronized Swimming,Synchronized Swimming Women's Team,NaN
72,185,31.0,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's Foil, Individual",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40577,135489,22.0,182.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 200 metres Backstroke,Silver
40578,135489,22.0,182.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
40590,135517,22.0,NaN,Austria,AUT,1948 Summer,1948,Summer,London,Swimming,Swimming Men's 100 metres Backstroke,NaN
40595,135528,28.0,181.0,Germany,GER,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,NaN
40609,135558,32.0,200.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN

##  e. ¿Cuántos años tiene el atleta más joven en nuestros datos de muestra?  Pista: usen min()

La/El atleta más joven de todo el dataframe tiene 11 años de edad

In [9]:
df['Age'].min()

11.0

La/El atleta más joven del dataframe con datos de la ciudad de London, tiene 15 años de edad

In [10]:
df_city_London['Age'].min()

15.0

# **Creen filtros para encontrar:**

## a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?

In [11]:
df_TOW_Sweden = df.loc[(df['Sport'] == 'Tug-Of-War') & (df['Team'] == 'Sweden')]

In [12]:
df_TOW_Sweden

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
10023,34205,22.0,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
12681,43105,23.0,NaN,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze
13015,44087,29.0,182.0,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze
16250,55169,23.0,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
19048,64266,21.0,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
20550,68647,26.0,190.0,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze

In [13]:
#len(df_TOW_Sweden.index) #esta es otra manera de obtener el número de filas de una manera más rápida 
df_TOW_Sweden.shape[0] # 0 indica filas y el 1 indica columnas

6

##   b. ¿Cuántas medallas de oro se le entregaron a los atletas que tenían más de 40 años?

In [14]:
age_40_up = df['Age'] > 40
gold_medal = df['Medal'] == 'Gold'

In [21]:
df.loc[age_40_up & gold_medal, :].shape[0]

66

# Determinen la altura promedio de:

##   a. Todas las filas incluidas.

In [43]:
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [24]:
df['Height'].mean().round(3)

175.381

##  b. Todas las filas incluidas, pero agrupadas por Event (evento).

In [31]:
df_Event_Height = df.groupby('Event')['Height'].mean().round(3)
df_Event_Height

Event
Alpine Skiing Men's Combined                      178.547
Alpine Skiing Men's Downhill                      178.212
Alpine Skiing Men's Giant Slalom                  176.739
Alpine Skiing Men's Slalom                        176.482
Alpine Skiing Men's Super G                       179.851
                                                   ...
Wrestling Women's Flyweight, Freestyle            158.100
Wrestling Women's Heavyweight, Freestyle          173.444
Wrestling Women's Light-Heavyweight, Freestyle    170.000
Wrestling Women's Lightweight, Freestyle          162.667
Wrestling Women's Middleweight, Freestyle         164.533
Name: Height, Length: 726, dtype: float64

## c. Obtengan la altura promedio de todos los atletas, pero sin incluir algún atleta más de una vez.

In [40]:
df['ID'].value_counts()

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
78467      1
78468      1
78470      1
78474      1
91368      1
Name: ID, Length: 20336, dtype: int64

In [39]:
one_per_athlete = df.drop_duplicates(subset = 'ID', keep = 'first')

In [41]:
one_per_athlete.groupby('ID')['Height'].mean()

ID
5         185.0
6         188.0
12        172.0
30        189.0
36        194.0
          ...
135553    168.0
135558    200.0
135567    183.0
135570    176.0
135571    185.0
Name: Height, Length: 20336, dtype: float64