<a href="https://colab.research.google.com/github/0Kyumy0/FirstCodes_DataScience/blob/Panda/ejercicioAtletas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
filename = '/content/drive/MyDrive/DataScience/BasesDeDatos/athleteEventsNoPersonal.csv'
df = pd.read_csv(filename)

In [3]:
df.head()

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,27.0,185.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

# **Exploración del archivo**

## a. ¿Cuántas filas y columnas hay?

In [6]:
df.shape

(40616, 12)

## c. ¿A qué columnas le faltan datos? (¿Por qué creen que hay muchos valores nulos en la columna Medals (medallas)?

In [8]:
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

Le faltan datos a 3 columnas en total: Age, Height y Medal.
En la columna de Medal le faltan más datos porque no todos los atletas han ganado alguno de los 3 tipos de medallas (Oro, plata y bronce).

## d. ¿Cuántas entradas corresponden a la ciudad de Londres?

In [18]:
(df['City'] == 'London').sum()

3370

In [19]:
df_city_London = df.loc[df['City'] == 'London']

In [20]:
df_city_London

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
36,54,NaN,NaN,Iran,IRI,1948 Summer,1948,Summer,London,Boxing,Boxing Men's Heavyweight,NaN
42,67,26.0,179.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
66,155,34.0,185.0,Egypt,EGY,2012 Summer,2012,Summer,London,Wrestling,"Wrestling Men's Heavyweight, Greco-Roman",NaN
69,159,19.0,167.0,Egypt,EGY,2012 Summer,2012,Summer,London,Synchronized Swimming,Synchronized Swimming Women's Team,NaN
72,185,31.0,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Fencing,"Fencing Men's Foil, Individual",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
40577,135489,22.0,182.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 200 metres Backstroke,Silver
40578,135489,22.0,182.0,Russia,RUS,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
40590,135517,22.0,NaN,Austria,AUT,1948 Summer,1948,Summer,London,Swimming,Swimming Men's 100 metres Backstroke,NaN
40595,135528,28.0,181.0,Germany,GER,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,NaN
40609,135558,32.0,200.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN

##  e. ¿Cuántos años tiene el atleta más joven en nuestros datos de muestra?  Pista: usen min()

La/El atleta más joven de todo el dataframe tiene 11 años de edad

In [22]:
df['Age'].min()

11.0

La/El atleta más joven del dataframe con datos de la ciudad de London, tiene 15 años de edad

In [21]:
df_city_London['Age'].min()

15.0

# **Creen filtros para encontrar:**

## a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?