<a href="https://colab.research.google.com/github/0Kyumy0/FirstCodes_DataScience/blob/Panda/groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/My Drive/DataScience/BasesDeDatos/passenger_modified.csv'
df = pd.read_csv(filename)

In [4]:
df.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Food and drink,Seat comfort,Inflight entertainment,On-board service,Baggage handling,Inflight service,Cleanliness,Departure Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,5,5,5,4,4,5,5,25,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,1,1,1,1,3,4,1,1,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,5,5,5,4,4,4,5,0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,2,2,2,3,4,2,11,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,4,5,3,3,4,3,3,0,satisfied

In [6]:
df.shape

(103793, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103793 entries, 0 to 103792
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103793 non-null  object
 1   Customer Type               103793 non-null  object
 2   Age                         103793 non-null  int64
 3   Type of Travel              103793 non-null  object
 4   Class                       103793 non-null  object
 5   Flight Distance             103793 non-null  int64
 6   Food and drink              103793 non-null  int64
 7   Seat comfort                103793 non-null  int64
 8   Inflight entertainment      103793 non-null  int64
 9   On-board service            103793 non-null  int64
 10  Baggage handling            103793 non-null  int64
 11  Inflight service            103793 non-null  int64
 12  Cleanliness                 103793 non-null  int64
 13  Departure Delay in Minutes  103793 non-null  int64
 14  satisfaction                103793 non-null  object
dtypes: int64(10), object(5)
memory usage: 11.9+ MB

In [8]:
df.describe().round(2)

,Age,Flight Distance,Food and drink,Seat comfort,Inflight entertainment,On-board service,Baggage handling,Inflight service,Cleanliness,Departure Delay in Minutes
count,103793.00,103793.00,103793.00,103793.00,103793.00,103793.00,103793.00,103793.00,103793.00,103793.00
mean,39.39,1189.35,3.21,3.44,3.36,3.38,3.63,3.64,3.29,14.70
std,15.11,996.93,1.33,1.32,1.33,1.29,1.18,1.18,1.31,37.81
min,7.00,31.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00
25%,27.00,414.00,2.00,2.00,2.00,2.00,3.00,3.00,2.00,0.00
50%,40.00,843.00,3.00,4.00,4.00,4.00,4.00,4.00,3.00,0.00
75%,51.00,1742.00,4.00,5.00,4.00,4.00,5.00,5.00,4.00,12.00
max,85.00,4983.00,5.00,5.00,5.00,5.00,5.00,5.00,5.00,1592.00

In [11]:
# promedio de todos los pasajeros en la calificación de la comodidad de asientos 
df['Seat comfort'].mean()

3.439904425153912

In [12]:
# promedio en la calificación de la comodidad de aasientos de acuerdo a la clase
df.groupby('Class')['Seat comfort'].mean()

Class
Business    3.761556
Eco         3.139008
Eco Plus    3.183679
Name: Seat comfort, dtype: float64

In [13]:
# promedio de la calificación de la comodidad de asientos ahora con la división de acuerdo a la clase y el género de los pasajeros
df.groupby(['Class', 'Gender'])['Seat comfort'].mean()

Class     Gender
Business  Female    3.755691
          Male      3.767463
Eco       Female    3.217490
          Male      3.057182
Eco Plus  Female    3.249682
          Male      3.110547
Name: Seat comfort, dtype: float64